<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}BG Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
{%- block page_title_element %}
    <h1>{% block page_title %}{% endblock %}</h1>
{%- endblock %}
{%- block breadcrumbs_element %}
    <ul class="hlinkstrip breadcrumbs">
    <li><a href="{{ url_for('landing') }}">home</a></li>
{%- block breadcrumbs %}{% endblock %}
    </ul>
{%- endblock %}
{%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        {%- for category, msg in messages %}
            <div class="alert alert-{{ category }}">{{ msg }}</div>
        {%- endfor %}
    {%- endif %}
{%- endwith %}
{%- block content %}{% endblock %}
</body>
</html>
