<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{% if self.title() %} - {% endif %}BG Tracker</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
{%- block page_title_element %}
    <h1>{% block page_title %}{% endblock %}</h1>
{%- endblock %}
{%- block breadcrumbs_element %}
    <ul class="hlinkstrip breadcrumbs">
    <li><a href="{{ url_for('landing') }}">home</a></li>
{%- block breadcrumbs %}{% endblock %}
    </ul>
{%- endblock %}
{%- block content %}{% endblock %}
</body>
</html>
