{%- extends "base.html" %}
{%- block title %}{{ title }}{% endblock %}
{%- block page_title %}{{ title }}{% endblock %}
{%- block breadcrumbs %}
    <li><a href="{{ url_for('show_routes.details_view', record_id=bg.episode.show.id) }}">&ldquo;{{ bg.episode.show.title }}&rdquo; season {{ bg.episode.show.season }}</a></li>
    <li><a href="{{ url_for('episode_routes.details_view', record_id=bg.episode.id) }}">&ldquo;{{ bg.episode.title }}&rdquo;</a></li>
{%- endblock %}
{%- block content %}
    <div class="record-details">
        <div class="details-row">
            <div class="row-title">Show</div>
            <div>{{ bg.episode.show.title }}</div>
        </div>
        <div class="details-row">
            <div class="row-title">Episode</div>
            <div>Episode {{ bg.episode.format_padded_number() }} &ldquo;{{ bg.episode.title }}&rdquo;</div>
        </div>
        <div class="details-row">
            <div class="row-title">Scene</div>
            <div>{{ bg.format_padded_scene() }}</div>
        </div>
        <div class="details-row">
            <div class="row-title">Dims</div>
            <div>{{ bg.width }} x {{ bg.height }}</div>
        </div>
        <div class="details-row">
            <div class="row-title">Location</div>
            <div>{{ bg.location.name }}</div>
        </div>
        <div class="details-row">
            <table>
                <tr>
                    <th>overlays</th>
                    <th>establishing shot</th>
                    <th>partial</th>
                </tr>
                <tr>
                    <td class="centered">{{ bg.overlay_count }}</td>
                    <td class="centered">{{ 'yes' if bg.establishing_shot else '' }}</td>
                    <td class="centered">{{ 'yes' if bg.partial else '' }}</td>
                </tr>
            </table>
        </div>
        <div class="details-row">
            <table>
                <tr>
                    <th>hours</th>
                    <th>started</th>
                    <th>finished</th>
                    <th>approved</th>
                </tr>
                <tr>
                    <td class="centered">{{ bg.hours}}</td>
                    <td class="centered">{{ bg.date_started }}</td>
                    <td class="centered">{{ bg.date_finished }}</td>
                    <td class="centered">{{ 'yes' if bg.approved else '' }}</td>
                </tr>
            </table>
        </div>
    </div>
    <ul class="hlinkstrip utility-links">
        <li><a href="{{ url_for('bg_routes.edit_record', record_id=bg.id) }}">edit</a></li>
    </ul>
{%- endblock %}

