{%- extends "base.html" %}
{%- import "macros.jinja2" as macros %}
{%- block title %}{{ title }}{% endblock %}
{%- block page_title %}{{ title }}{% endblock %}
{%- block breadcrumbs %}
    {%- if bg.has_episode() and bg.episode.id %}
        <li><a href="{{ url_for('episode_routes.details_view', record_id=bg.episode.id) }}">{{ bg.episode.format_padded_number() }} &ldquo;{{ bg.episode.title }}&rdquo;</a></li>
    {% endif %}
    {%- if bg.id %}
        <li><a href="{{ url_for('bg_routes.details_view', record_id=bg.id) }}">view BG</a></li>
    {% endif %}
{%- endblock %}
{%- block content %}
    <form action="{{ action }}" method="post" class="edit-form">
        <div class="input-row">
            {{ macros.form_field(form.episode) }}
            {{ macros.form_field(form.scene) }}
            {{ macros.form_field(form.scene_modifier) }}
        </div>
        <div class="input-row">
            {{ macros.form_field(form.width) }}
            {{ macros.form_field(form.height) }}
        </div>
        <div class="input-row">
            {{ macros.form_field(form.overlay_count) }}
            {{ macros.form_field(form.establishing_shot) }}
            {{ macros.form_field(form.pull) }}
            {{ macros.form_field(form.card) }}
            {{ macros.form_field(form.location) }}
        </div>
        <div class="input-row">
            {{ macros.form_field(form.hours) }}
            {{ macros.form_field(form.date_started, is_date=True) }}
            {{ macros.form_field(form.date_finished, is_date=True) }}
        </div>
        <div class="input-row">
            {{ macros.form_field(form.approved) }}
        </div>
        <div class="input-row"><input type="submit" name="submit" value="submit" /></div>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
{%- endblock %}
