{%- extends "base.html" %}
{%- block page_title %}{{ title }}{% endblock %}
{%- block breadcrumbs %}
    <li><a href="{{ url_for('show_routes.listings') }}">shows</a></li>
    <li><a href="{{ url_for('episode_routes.listings') }}">episodes</a></li>
{% endblock %}
{%- block content %}
    <div class="record-details">
        <div class="stats-cell">{{ stats.count }}</div>
        <div class="stats-cell">{{ stats.total_hours }}</div>
{%- if stats.avg_hours %}
        <div class="stats-cell">{{ stats.avg_hours }}</div>
{%- endif %}
    </div>
    <table class="data">
        <tr>
            <th class="left-align">episode</th>
            <th><a href="{{ url_for('bg_routes.listings', sort_criteria='scene') }}">scene</a></th>
            <th>dims</th>
            <th>location</th>
            <th><a href="{{ url_for('bg_routes.listings', sort_criteria='overlay_count', order='desc') }}">overlays</a></th>
            <th data-tooltip="establishing shot">estab.</th>
            <th>partial</th>
            <th>pull</th>
            <th>card</th>
            <th>in progress</th>
            <th>finished</th>
            <th>approved</th>
            <th><a href="{{ url_for('bg_routes.listings', sort_criteria='hours', order='desc') }}">hours</a></th>
            <th>id</th>
            <th>&nbsp;</th>
        </tr>
{%- for bg in bgs %}
        <tr>
            <td><a href="{{ url_for('episode_routes.details_view', record_id=bg.episode.id) }}">{{ bg.episode.show.code }}-{{bg.episode.format_padded_number() }} {{ bg.episode.title }}</a></td>
            <td>{{ bg.format_padded_scene() }}</td>
            <td class="{{ bg_size_css_class(bg.width, bg.height) }}">{{ bg.width }} x {{ bg.height }}</td>
            <td class="centered">{{ bg.location.name }}</td>
            <td class="centered">{{ bg.overlay_count }}</td>
            <td class="centered">{% if bg.establishing_shot %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.partial %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.pull %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.card %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.date_started and not bg.date_finished %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.date_finished %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td class="centered">{% if bg.approved %}&#9989;{% else %}&ndash;{% endif %}</td>
            <td>{% if bg.hours %}{{ bg.hours }}{% else %}-{% endif %}</td>
            <td class="centered">{{ bg.id }}</td>
            <td class="centered">
                <ul class="ops-list">
                    <li><a href="{{ url_for('bg_routes.details_view', record_id=bg.id) }}" title="view details"><span class="glyphicon glyphicon-file"></span></a></li>
                    <li><a href="{{ url_for('bg_routes.edit_record', record_id=bg.id, next=next) }}" title="edit record"><span class="glyphicon glyphicon-edit"></span></a></li>
                    <li><a href="{{ url_for('bg_routes.delete', record_id=bg.id, next=next) }}" title="delete"><span class="glyphicon glyphicon-remove-sign"></span></a></li>
                </ul>
            </td>
        </tr>
{%- endfor %}
    </table>
    <ul class="ops-list">
        <li><a href="{{ url_for('bg_routes.add_record') }}" title="add BG"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
    </ul>
{%- endblock %}
