{%- extends "base.html" %}
{%- import "macros.jinja2" as macros %}
{%- block title %}{% if episode.id %}Episode {{ episode.format_padded_number() }} {{ episode.title }}{% else %}New Episode{% endif %}{% endblock %}
{%- block page_title %}{% if episode.id %}Editing {{ episode.format_padded_number() }} {{ episode.title }}{% else %}New Episode{% endif %}{% endblock %}
{%- block breadcrumbs %}
        <li><a href="{{ url_for('episode_routes.listings') }}">all episodes</a></li>
    {%- if episode.show.id %}
        <li><a href="{{ url_for('show_routes.details_view', record_id=episode.show.id) }}">&ldquo;{{ episode.show.title }}&rdquo; season {{ episode.show.season }}</a></li>
    {% endif %}
    {%- if episode.id %}
        <li><a href="{{ url_for('episode_routes.details_view', record_id=episode.id) }}">view episode</a></li>
    {% endif %}
{%- endblock %}
{%- block content %}
<div>
{%- if status %}
    {%- if status.success %}
    <div class="alert alert-info">{{ status.success }}</div>
    {%- elif status.error %}
    <div class="alert alert-error">{{ status.error }}</div>
    {%- endif %}
{%- endif %}
    <form action="{{ action }}" method="post" class="edit-form">
    {%- for field in form %}
        <div class="input-row">{{ macros.form_field(field) }}</div>
    {%- endfor %}
        <div><input type="submit" name="submit" value="submit" /></div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
</div>
{%- endblock %}
