{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<table>
    <tr>
       <th class="left-align">show</th>
       <th class="left-align">episode</th>
       <th class="left-align">title</th>
       <th>&nbsp;</th>
   </tr> 
{% for episode in episodes %}
    <tr>
        <td><a href="{{ url_for('show_routes.details_view', show_id=episode.show.id) }}">{{ episode.show.name }} season {{ episode.show.season }}</a></td>
        <td>{{ episode.format_padded_number() }}</td>
        <td>{{ episode.name }}</td>
        <td>
            <ul class="hlinkstrip">
                <li><a href="{{ url_for('episode_routes.details_view', episode_id=episode.id) }}">view</a></li>
                <li><a href="{{ url_for('episode_routes.edit_record_form', episode_id=episode.id) }}">edit</a></li>
            </ul>
        </td>
    </tr>
{% endfor %}
{% if not episodes or episodes | length < 1 %}
    <tr>
        <td colspan="2">No matching records were found.</td>
    </tr>
{% endif %}
</table>
<div><a href="{{ url_for('episode_routes.new_record_form') }}">add episode</a></div>
{% endblock %}
