{%- extends "base.html" %}
{%- block title %}{{ episode.title }}{% endblock %}
{%- block page_title %}{{ episode.show.code}}-{{ episode.format_padded_number() }} &ldquo;{{ episode.title }}&rdquo;{% endblock %}
{%- block breadcrumbs %}
    <li><a href="{{ url_for('episode_routes.listings') }}">all episodes</a></li>
    <li><a href="{{ url_for('show_routes.details_view', record_id=episode.show.id) }}">&ldquo;{{ episode.show.title }}&rdquo; season {{ episode.show.season }}</a></li>
{%- endblock %}
{%- block content %}
    <h2>{{ stats.count }}</h2>
    <div class="record-details">
        <div class="stats-cell">{{ stats.total_hours }}</div>
{%- if stats.avg_hours %}
        <div class="stats-cell">{{ stats.avg_hours }}</div>
{%- endif %}
    </div>
    <table class="data">
        <tr>
            <th><a href="{{ url_for('episode_routes.details_view', record_id=episode.id, sort_criteria='scene') }}">scene</a></th>
            <th>dims</th>
            <th>location</th>
            <th><a href="{{ url_for('episode_routes.details_view', record_id=episode.id, sort_criteria='overlay_count', order='desc') }}">overlays</a></th>
            <th>establishing shot</th>
            <th>partial</th>
            <th>pull</th>
            <th>in progress</th>
            <th>finished</th>
            <th>approved</th>
            <th><a href="{{ url_for('episode_routes.details_view', record_id=episode.id, sort_criteria='hours', order='desc') }}">hours</a></th>
            <th>id</th>
            <th>&nbsp;</th>
        </tr>
{%- for bg in bgs %}
        <tr>
            <td>{{ bg.format_padded_scene() }}</td>
            <td class="{{ bg_size_css_class(bg.width, bg.height) }}">{{ bg.width }} x {{ bg.height }}</td>
            <td class="centered">{{ bg.location.name }}</td>
            <td class="centered">{{ bg.overlay_count }}</td>
            <td class="centered{% if bg.establishing_shot %} yes{% endif %}">{% if bg.establishing_shot %}yes{% else %}&ndash;{% endif %}</td>
            <td class="centered{% if bg.partial %} yes{% endif %}">{% if bg.partial %}yes{% else %}&ndash;{% endif %}</td>
            <td class="centered{% if bg.pull %} yes{% endif %}">{% if bg.pull %}yes{% else %}&ndash;{% endif %}</td>
            <td class="centered{% if bg.date_started and not bg.date_finished %} yes{% endif %}">{% if bg.date_started and not bg.date_finished %}yes{% else %}&ndash;{% endif %}</td>
            <td class="centered{% if bg.date_finished %} yes{% endif %}">{% if bg.date_finished %}yes{% else %}&ndash;{% endif %}</td>
            <td class="centered{% if bg.approved %} yes{% endif %}">{% if bg.approved %}yes{% else %}&ndash;{% endif %}</td>
            <td>{% if bg.hours %}{{ bg.hours }}{% else %}-{% endif %}</td>
            <td class="centered">{{ bg.id }}</td>
            <td>
                <ul class="hlinkstrip">
                    <li><a href="{{ url_for('bg_routes.details_view', record_id=bg.id) }}">view</a></li>
                    <li><a href="{{ url_for('bg_routes.edit_record', record_id=bg.id) }}">edit</a></li>
                </ul>
            </td>
        </tr>
{%- endfor %}
    </table>
    <ul class="hlinkstrip utility-links">
        <li><a href="{{ url_for('episode_routes.edit_record', record_id=episode.id) }}">edit</a></li>
        <li><a href="{{ url_for('bg_routes.edit_record', episode_id=episode.id) }}">add bg</a></li>
    </ul>
{%- endblock %}
