{%- macro form_field(field, is_date=False) %}
{{ field.label }}
    {%- if field.errors %}
        {%- if is_date %}
            {{ field(class='datepicker invalid') }}
        {%- else %}
            {{ field(class='invalid') }}
        {%- endif %}
            <ul class="form-errors">
            {%- for error in field.errors %}
                <li>{{ error|e }}</li>
            {%- endfor %}
            </ul>
    {%- else %}
        {%- if is_date %}
            {{ field(class='datepicker') }}
        {%- else %}
            {{ field }}
        {%- endif %}
    {%- endif %}
    {%- if field.description %}<span class="hints">{{ field.description|safe() }}</span>{% endif %}
{%- endmacro %}

