{%- extends "base.html" %}
{%- block title %}{{ title }}{% endblock %}
{%- block page_title %}{{ title }}{% endblock %}
{%- block content %}
    <table class="data">
        <tr>
           <th class="left-align">code</th>
           <th class="left-align">show</th>
           <th class="left-align">season</th>
           <th class="left-align">episodes</th>
           <th>&nbsp;</th>
       </tr>
{%- for show in shows %}
        <tr>
            <td>{{ show.code if show.code else 'n/a' }}</td>
            <td>{{ show.title }}</td>
            <td>{{ show.season }}</td>
            <td class="centered">{{ show.episode_count }}</td>
            <td class="centered">
                <ul class="ops-list">
                    <li><a href="{{ url_for('show_routes.details_by_title', show_title=show.title | varencode, season=show.season) }}" title="view details"><span class="glyphicon glyphicon-file"></span></a></li>
                    <li><a href="{{ url_for('show_routes.edit_record', record_id=show.id) }}" title="edit record"><span class="glyphicon glyphicon-edit"></span></a></li>
                </ul>
            </td>
        </tr>
{%- endfor %}
{%- if not shows or shows | length < 1 %}
        <tr>
            <td colspan="2">No matching records were found.</td>
        </tr>
{%- endif %}
    </table>
    <ul class="ops-list">
        <li><a href="{{ url_for('show_routes.add_record') }}" title="add show"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
    </ul>
{% endblock %}
