{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}
<table>
    <tr>
       <th>show</th>
       <th>&nbsp;</th>
   </tr> 
{% for show in shows %}
    <tr>
        <td>{{ show.name }} season {{ show.season }}</td>
        <td>
            <ul class="hlinkstrip">
                <li><a href="{{ url_for('show_routes.details_by_title', show_title=show.name | varencode, season=show.season) }}">view</a></li>
                <li><a href="{{ url_for('show_routes.edit_record_form', show_id=show.id) }}">edit</a></li>
            </ul>
        </td>
    </tr>
{% endfor %}
{% if not shows or shows | length < 1 %}
    <tr>
        <td colspan="2">No matching records were found.</td>
    </tr>
{% endif %}
</table>
<div><a href="{{ url_for('show_routes.new_record_form') }}">add show</a></div>
{% endblock %}
