{%- extends "base.html" %}
{%- import "macros.jinja2" as macros %}
{%- block title %}{{ title }}{% endblock %}
{%- block page_title %}{{ title }}{% endblock %}
{%- block breadcrumbs %}
        <li><a href="{{ url_for('show_routes.listings') }}">all shows</a></li>
    {%- if show.id %}
        <li><a href="{{ url_for('show_routes.details_view', record_id=show.id) }}">view show</a></li>
    {% endif %}
{%- endblock %}
{%- block content %}
    <form action="{{ action }}" method="post" class="edit-form">
    {%- for field in form %}
        <div class="input-row">{{ macros.form_field(field) }}</div>
    {%- endfor %}
        <div class="input-row">
            <button class="btn btn-default">submit</button>
            <a class="btn btn-default" href="{{ next }}">cancel</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
{%- endblock %}
