{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block page_title %}{{ title }}{% endblock %}
{% block breadcrumbs %}
        <li><a href="{{ url_for('show_routes.listings') }}">all shows</a></li>
{%- endblock %}
{%- block content %}
{%- if status %}
    <div class="alert alert-info">{{ status }}</div>
{%- endif %}
    <h2>Episodes</h2>
    <table>
        <tr>
            <th class="left-align">#</th>
            <th class="left-align">title</th>
            <th>&nbsp;</th>
        </tr>
{%- for episode in episodes %}
        <tr>
            <td>{{ episode.format_padded_number() }}</td>
            <td>&ldquo;{{ episode.title }}&rdquo;</td>
            <td>
                <ul class="hlinkstrip">
                    <li><a href="{{ url_for('episode_routes.details_view', record_id=episode.id) }}">view</a></li>
                    <li><a href="{{ url_for('episode_routes.edit_record_form', record_id=episode.id) }}">edit</a></li>
                </ul>
            </td>
        </tr>
{%- endfor %}
{%- if not episodes or episodes | length %}
        <tr>
            <td colspan="3">No episodes.</td>
        </tr>
{%- endif %}
    </table>
    <ul class="hlinkstrip utility-links">
        <li><a href="{{ url_for('show_routes.edit_record_form', record_id=show.id) }}">edit</a></li>
        <li><a href="{{ url_for('episode_routes.new_record_form', record_id=show.id) }}">add episode</a></li>
    </ul>
{%- endblock %}
